<h2>Bienvenido,</h2>
<ul>
  <li><strong>Teléfono:</strong> {{ cliente.telefono }}</li>
  <li><strong>Dirección:</strong> {{ cliente.direccion }}</li>
  <li><strong>Email:</strong> {{ request.user.email }}</li>
</ul>

{% if confirmado %}
  <div class="alert alert-success">
    ¡Tu pedido fue confirmado exitosamente!
  </div>
{% endif %}

<h3>Mis pedidos</h3>
<ul>
  {% for pedido in pedidos %}
    <li>
      <strong>{{ pedido.created_at|date:"d/m/Y H:i" }}</strong> – 
      {{ pedido.metodo_envio }} a {{ pedido.direccion_entrega }} – 
      Entrega: {{ pedido.fecha_entrega_programada|date:"d/m/Y H:i" }} – 
      Estado: {{ pedido.estado }}

      {% if pedido.estado == 'PENDIENTE' %}
        <form method="POST" action="{% url 'cancelar_pedido' pedido.id %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
        </form>
      {% endif %}
      {% if pedido.estado == 'PENDIENTE' %}
  <form method="POST" action="{% url 'confirmar_pedido' pedido.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirmar</button>
  </form>
{% endif %}

    </li>
  {% empty %}
    <li>No tienes pedidos registrados.</li>
  {% endfor %}
</ul>